@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color: #210012;
    font-family: var(--site-typography-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--site-typography-headers);
  }

  .subtitle {
    font-family: "IBM Plex Mono", monospace;
  }

  button:disabled:hover {
    background-color: var(--color-primary) !important;
    color: rgba(255,255,255,0.5) !important; /* semi-transparent white */
}
}

/* Custom utility classes */
@layer components {
  .btn-primary {
    @apply bg-primary text-white py-2 px-4 rounded-md hover:bg-primary-dark transition-colors;
  }

  .btn-secondary {
    @apply bg-secondary text-gray-800 py-2 px-4 rounded-md hover:bg-secondary-light transition-colors;
  }

  .card {
    @apply bg-white rounded-lg shadow-md overflow-hidden;
  }
}
